<body>
    <div class="container container-fluid board dashboard">
        <div class="row">
            <div class="menu col-sm-12">
                <nav class="row logo-bar">
                    <div class="col-xs-12 col-sm-12">
                        <h3 class="logotype">WeTasker</h3>
                    </div>
                </nav>
                <div class="logout-bar col-xs-12 col-sm-12">
                        <span>Hola <%= user.username %></span> 
                        &nbsp;<a href="/logout"><i class="fa fa-sign-out"></i></a>
                </div>
            
                <div class="main-menu col-xs-12 col-sm-12">
                    <a class="menu-icon col-xs-12 col-md-12 col-sm-12 active" href="/dashboard/"><i class="fa fa-home"></i> <span>Home</span></a>                                                
                    <a class="menu-icon col-xs-12 col-md-12 col-sm-12" href="/dashboard/tasks"><i class="fa fa-check-circle-o"></i> <span>Tasks</span></a>                        
                    <a class="menu-icon col-xs-12 col-md-12 col-sm-12" href="/dashboard/projects"><i class="fa fa-tasks"></i> <span>Projects</span></a>
                    <a class="menu-icon col-xs-12 col-md-12 col-sm-12" href="/dashboard/calendar"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                    <a class="menu-icon col-xs-12 col-md-12 col-sm-12" href="/dashboard/preferences"><i class="fa fa-user"></i> <span>Profile</span></a>
                </div>
                
            </div>
        </div>

    </div>
</body>