/*================================
		dashboard
=================================*/
.dashboard {
    width:100%;
    height:100%;
}

.logo-bar {
    width:100%
}

.logo-bar .logotype {
    margin-top:20px;
}

.logout-bar {
    position: absolute;
    top:15px;
    right:15px;
    width:200px;
    text-align: right;
}

.logout-bar a i{
    padding-top:5px;
    font-size:22px;
}


.main-menu {
    padding:0px;
    margin:20px 0px;
    width: 100%;
    display:inline-block;
}

.main-menu a{
    width:20%;
    display: block;
    padding:5px;
    margin:2px 0px;
    font-size:18px;
    float:left;
    text-align: center;
    box-sizing: border-box;
    padding-bottom:10px;
    border-right:1px solid #f3f3f3
}
.main-menu a:last-child{
    border-right:0px;
}
    

.active , .main-menu a:hover{
    border-bottom:2px solid #ff5252 !important;
    text-decoration: none;}